@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;  
}

.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  height: 450px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.header {
  display: flex;  
  padding: 16px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  gap: 400px;
}

.header-logo {
  font-size: 24px;  
  color: #F9FAF8;
}

.links {
  display: flex;  
  font-size: 18px;
}

.spotlight {
  display: flex;
  padding: 16px;
  justify-content: space-around;
  gap: 75px;
}

.left {
  max-width: 450px;   
}

.title {
  font-size: 48px;
  font-weight: 900;  
  color: #F9FAF8;
}

.title-subtext {
  font-size: 18px;
  color: #E5E7EB; 
  margin: 0 0 12px 0; 
}

.sign-up {
  font-size: 18px;
  font-weight: bold;  
  color: #F9FAF8;  
  background-color: #3882F6;
  padding: 8px 32px;
  border: 0px solid;
  border-radius: 8px;
}

.right {
  height: 230px;
}

.middle1 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  height: 500px;
}

.information-imgs {
  gap: 75px;
}

.header-middle1 {
  font-size: 36px;
  font-weight: 900;
  margin: 48px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 125px; 
  color: rgb(43, 43, 43); 
  gap: 20px;
  
}

.middle1-img {
  width: 125px;
  border-radius: 10px;
  border: 3px solid #3882F6;
}

.middle2 { 
  background-color: #E5E7EB;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #39424e;
  width: 825px;
}

.author {
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  width: 650px;
  align-self: flex-end;
}

.middle3 {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle3-left, .middle3-right {
  background-color: #3882F6;
  padding: 45px 130px;
  border-radius: 8px;
}

.header-middle3 {
  font-weight: bold;
  font-size: 20px;
  color: #F9FAF8;
}

.middle3-subtext {
  color: #E5E7EB;
}

.middle3-right {
  margin-left: -50px;
}

.sign-up-2 {
  font-size: 18px;
  font-weight: bold;  
  color: #F9FAF8;  
  background-color: #3882F6;
  padding: 8px 32px;
  border: 3px solid #F9FAF8;
  border-radius: 8px;
}

.footer {
  height: 75px;
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}